// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
////// index page top section //////

.page-top {
    background-image: url(../img/img1.jpeg);
    background-position: center;
    background-size: cover;
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .page-top-title {
        font-size: 1em;
        align-items: center;

        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
            /* styles for medium only */
            font-size: 3em;
        }

        @media screen and (min-width: 64em) {
            /* styles for large and onward only */
            font-size: 5em;
        }
    }
}

//////////////////////////////////////

//////// index about section /////////

.about-intro {
    padding:30px;
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        /* styles for medium only */
        padding:50px;
        margin: auto;
    }

    @media screen and (min-width: 64em) {
        /* styles for large and onward only */
        padding:80px;
        margin: auto;
        width:80%;
    }
    

}

.about {
    padding:50px 30px;
    height:100vh;
    align-items: center;
    
    @media screen and (min-width: 64em) {
        /* styles for large and onward only */
        position: relative;
        
    }
    
    .about-left-box {
        position:absolute;
        background-color: #E0E0E0;
        opacity:0.8;
        height:90%;
        width:30%;
        left:10%;
        top:-5%;
        z-index: -10;
    }
    
    .about-right-box {
        position:absolute;
        background-color: #e5e5e5;
        opacity:0.8;
        height:40%;
        width:30%;
        right:5%;
        bottom:-10%;
        z-index: 10;
    }
    
    img {
        width:50%;
        padding-bottom:40px;
        display: block;
        margin: 0 auto;
    }
    
    .about-img {
        
        @media screen and (min-width: 64em) {
            /* styles for large and onward only */
            position: absolute;
            padding-bottom:0;
        }
    }
    .about-img-left {
        width:25%;
    }
    
    .about-img-right-top {
        width:20%;
        right:8%;
        top:0;
    }
    
    .about-img-right-bottom {
        width:15%;
        right:5%;
        top:60%;
        z-index: 30;
    }
    
    
    .about-desc {
        
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
            /* styles for medium only */
            width:80%;
            margin:0 auto;
        }

        @media screen and (min-width: 64em) {
            /* styles for large and onward only */
            width:60%;
            margin: 0 auto;
            padding:150px;
            background-color: antiquewhite;
        }
        
        h3 {
            text-align: center;
        }
        h5 {
            text-align: center;
        }
    }
}

////////////////////////////////////////

/////// index portfolio section ////////

.portfolio {
    padding: 50px 30px;
    background-image:url(../img/port-back-black.jpg);
    background-position: center;
    background-size: cover;
    color : white;
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        /* styles for medium only */
        padding:100px 50px;

    }

    @media screen and (min-width: 64em) {
        /* styles for large and onward only */
        padding:200px 50px;
        position: relative;

    }
    
    img {
        width:30%;
        display: block;
        margin: auto;
    
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        /* styles for medium only */

    }

    @media screen and (min-width: 64em) {
        /* styles for large and onward only */
        position:relative;
        
    }
}
    
    .port-left-img {
        position:absolute;
        width:25%;
        left: 0;
    }
    
    .port-left-img2 {
        position:absolute;
        width:25%;
        right: 0;
        top:50%;
        transform: translateY(-50%);
    }
    
    .portfolio-para {
        
        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
            /* styles for medium only */
            width:80%;
            margin: auto;
        }

        @media screen and (min-width: 64em) {
            /* styles for large and onward only */
            width:60%;
            margin: 0 auto;
        }
    }
    
    h3 {
        text-align: center;
    }
    h5 {
        text-align: center;
    }
}

///////////////////////////////////////

///////// blog section ////////////
.contact {
    padding: 50px 30px;
    background-image:url(../img/blog-white.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        width:30%;
        display: block;
        margin: auto;
    }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        /* styles for medium only */
        padding:100px 50px;

    }

    @media screen and (min-width: 64em) {
        /* styles for large and onward only */
        padding:100px 50px;
        position:relative;

    }
    .contact-para {
        align-items : center;

        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
            /* styles for medium only */
            width:80%;
            margin: auto;
        }

        @media screen and (min-width: 64em) {
            /* styles for large and onward only */
            width:60%;
            margin: 100px auto;
        }
    }

    h3 {
        text-align: center;
    }
    h5 {
        text-align: center;
    }
}


/////////////////////////////////// 

///// contact section //////////

.blog {
    padding: 50px 30px;
    background-image:url(../img/blog-white.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        width:30%;
        display: block;
        margin: auto;
    }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        /* styles for medium only */
        padding:100px 50px;

    }

    @media screen and (min-width: 64em) {
        /* styles for large and onward only */
        padding:100px 50px;
        position:relative;

    }
    .blog-para {
        align-items : center;

        @media screen and (min-width: 40em) and (max-width: 63.9375em) {
            /* styles for medium only */
            width:80%;
            margin: auto;
        }

        @media screen and (min-width: 64em) {
            /* styles for large and onward only */
            width:60%;
            margin: 100px auto;
        }
    }

    h3 {
        text-align: center;
    }
    h5 {
        text-align: center;
    }
}

////////////////////////////////